/* Container để popup xuất hiện đúng */
.popup-container {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 6px;
    z-index: 999;
  }
  
  /* Mũi tên tam giác nhỏ */
  .popup-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 32px;
    transform: translateY(-100%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
  }
  
  /* Nội dung popup */
  .popup-wrapper {
    background: #454B79;
    color: #333;
    padding: 0.5rem 0.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 360px;
    max-width: 50vw;
  }
  
  /* Header */
  .popup-header {
    background-color: #454B79;
    color: white;
    padding: 3px 2px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  /* Nút Report */
  .btn-report {
    background: #454B79;
    color: red;
    padding: 4px 8px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    
  }
  
  .btn-report:hover {
        background-color: #545878;
  }
  
  /* Khu vực nội dung */
  .popup-body {
    max-height: 250px;
    overflow-y: auto;
    padding: 1px;
  }
  
  /* Bảng từ vựng */
  .definition-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 1rem;
    color: #333;
  }
  
  .definition-table thead {
    background: white;
    color: #454B79;
    text-transform: uppercase;
  }
  
  .definition-table th,
  .definition-table td {
    padding: 0.6rem 0.5rem;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1.4;
    vertical-align: top;
    text-align: left;
    text-transform: capitalize;
  }
  
  /* Dòng chẵn nền nhạt */
  .definition-table tbody tr:nth-child(even) {
    background: #eff4ff;
  }
  .definition-table tbody tr:nth-child(odd) {
    background: #454B79;
    color: white;
  }
  
  /* Chia đều 2 cột */
  .definition-table th:nth-child(1),
  .definition-table td:nth-child(1) {
    width: 40%;
  }
  .definition-table th:nth-child(2),
  .definition-table td:nth-child(2) {
    width: 60%;
  }
  /* ===== Scrollbar tùy chỉnh cho popup-body ===== */
.popup-body::-webkit-scrollbar {
    width: 8px;
  }
  
  .popup-body::-webkit-scrollbar-track {
    background: #e9e9f1; /* nền thanh trượt */
    border-radius: 8px;
  }
  
  .popup-body::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 8px;
  }
  
  .popup-body::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
  
  /* Firefox support */
  .popup-body {
    scrollbar-width: thin;
    scrollbar-color: #999 #e9e9f1;
  }
  
  