<div class="full-page">
    <!-- Navbar -->
    <nav class="navbar">
      <img src="assets/header/logo1.png" alt="EngJoy Logo" class="logo" />
      <div class="nav-buttons">
        <button class="btn btn-register" routerLink="/register">Register</button>
        <button class="btn btn-login" routerLink="/login">Login</button>
      </div>
    </nav>
  
    <!-- Ảnh nền là ảnh thường -->
    <div class="image-container">
      <img src="assets/prepage.png" alt="EngJoy Background" class="full-image" />
    </div>
  </div>
  