<footer id="footer-content">
	<div class="row pt-8">
		<div class="col d-flex justify-content-center">
			<img src="assets/logofooter.png" class="logo">
		</div>
	</div>
	<div class="row mt-8 mb-8">
		@for (group of urls;track group) {
			<div class="col-12 col-md-6 col-lg-4 mt-4 pl-8 url-group">
				<div>
					@for (item of group; track item.text) {
						<div class="d-flex align-items-center mb-2">
						@if (item.icon) {
							<i [class]="item.icon" class="mr-3 mb-0 h4"></i>
						}
						@if (item.type === 'header') {
							<h6 class="text-uppercase">{{ item.text }}</h6>
						} @else if (item.url) {
							<a [href]="item.url" target="_blank">{{ item.text }}</a>
						} @else {
							<p>{{ item.text }}</p>
						}
						</div>
					}
				</div>
			</div>
		}
	</div>
	<hr>
	<div class="row mt-16">
		<div class="col d-flex align-items-center flex-column">
			<p> ©  2019 Lift Media Online S.L.</p>
			<p>Ronda Sant Pere 52, 08010 Barcelona, </p>
			<p>Inscripción en el Registro Mercantil de Barcelona. Tomo 46606, Folio 37, Hoja 525271. </p>
		</div>
	</div>
	<div class="row mt-16">
		<div class="col-md-1"></div>
		<div class="col-12 col-md-5 mr-4">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it t</p>
			<p>El funcionamiento de la plataforma es muy sencillo. Se debe completar la solicitud, ésta información se envía a las entidades financieras a tiempo real con el fin de que la herramienta compare, negocie y escanee las mejores ofertas. Una vez aceptada la propuesta, se ingresa el dinero directamente en la cuenta del cliente.</p>
		</div>
		<div class="col-12 col-md-5">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it t</p>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it tLorem Ipsum is simply dummy text of the printin</p>
		</div>
		<div class="col-md-1"></div>
	</div>
</footer>